[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "==2.0.16"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
pycodestyle = "==2.5.0"
twine = "*"

[packages]
